<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/svg" href="assets/logo.svg">
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous">
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="styles/global.css">

    <title>Konectando Login</title>
  </head>
  <body>
    <div 
      id="app"
      v-cloak
      class="container min-100 d-flex flex-column justify-content-center align-items-center">
      <img src="assets/logo.svg" class="logo-lg mb-3">
      <div class="rounded-lg bg-transparent w-100 max-700">
        <div class="card-body">
          <div 
            v-if="!defined" 
            key="notDefined" 
            class="p-3 radius d-flex flex-column align-items-center text-center">
            <h2 class="text-green">Olá</h2>
            <h5 class="text-green font-weight-normal mb-3">Com qual tipo de conta deseja entrar?</h5>
            <button
              type="submit" 
              class="btn btn-lg btn-block btn-purple mt-3 shadow"
              @click.prevent="setDonator(false)">
              Escola
            </button>
            <button 
              type="submit" 
              class="btn btn-lg btn-block btn-purple mt-3 shadow"
              @click.prevent="setDonator(true)">
              Doador
            </button>
            <a href="cadastro/doador.html" class="mt-3 btn-link text-light text-center w-100">
            Não tem uma conta? Cadastre-se</a>
          </div>
          <form v-else key="defined">
            <div class="form-group">
              <label for="email">Email</label>
              <input 
                type="email" 
                class="form-control form-control-lg" 
                id="email"
                v-model="email"
                placeholder="Email" 
                required>
            </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input 
                type="password" 
                class="form-control form-control-lg" 
                id="password"
                v-model="password"
                placeholder="Senha" 
                required>
            </div>
            <div 
              class="alert rounded-lg bg-danger text-light" 
              role="alert"
              v-show="error !== null">
              {{ this.error }}
            </div>
            <button 
              type="submit" 
              class="btn btn-lg btn-block btn-purple mt-4"
              @click.prevent="login()">
              Vamos lá
            </button>
            <button 
              type="submit" 
              class="btn btn-lg btn-block btn-outline-danger mt-3"
              @click.prevent="back()">
              Voltar
            </button>
            <a
              v-show="donator"
              href="cadastro/doador.html" 
              class="mt-3 btn-link btn-block text-light text-center w-100">
              Não tem uma conta? Cadastre-se
            </a>
            <a
              v-show="!donator"
              href="cadastro/escola.html" 
              class="mt-3 btn-link btn-block text-muted text-center w-100">
              Não tem uma conta? Cadastre-se
            </a>
          </form>
        </div>
      </div>
    </div>

    <script 
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
      crossorigin="anonymous"></script>
    <script 
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous"></script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          email: null,
          password: null,
          donator: true,
          defined: false,
          error: null
				},
        methods: {
          login() {
            if (!this.email || !this.password)
              this.error = "Preencha os campos."
            let url = "http://localhost:3333/"
						let urlPrefix = ""
						let accountType = ""
            if(this.donator) {
              url += "donators/auth"
							urlPrefix = "doador/"
							accountType = "donator"
            }
            else
            {
              url += "schools/auth"
							urlPrefix = "escola/"
							accountType = "school"
            }
            axios.post(url, { 
              email: this.email,
              password: this.password 
            }).then((response) => {
              localStorage.setItem("accessToken", response.data.token)
              localStorage.setItem("accountType", accountType)
              window.location.href = urlPrefix + "home.html"
            }).catch(() => this.error = "Erro ao autenticar, confira os dados e tente novamente.")
          },
          setDonator(choice, defined = true) {
            this.donator = choice
            this.defined = defined
          },
          back() {
            this.defined = false
            this.email = ""
            this.password = ""
          }
				},
				created() {
					if (localStorage.getItem("accessToken")) window.history.go(-1)
				}
      })
    </script>
  </body>
</html>