<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous">
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="styles/global.css">

    <title>Konectando Login</title>
  </head>
  <body>
    <div 
      id="app"
      v-cloak
      class="container min-100 d-flex flex-column justify-content-center align-items-center">
      <div class="card shadow rounded-lg w-100 max-700">
        <div class="card-body">
          <div v-if="!defined" key="notDefined">
            <h3 class="text-dark text-center">Olá</h3>
            <h5 class="text-muted text-center font-weight-normal mb-3">Com qual tipo de conta você quer entrar?</h5>
            <button 
              type="submit" 
              class="btn btn-block btn-blue mt-3"
              @click.prevent="setDonator(false)">
              Escola
            </button>
            <button 
              type="submit" 
              class="btn btn-block btn-blue mt-3"
              @click.prevent="setDonator(true)">
              Doador
            </button>
            <a href="register.html" class="mt-3 btn-link btn-block text-muted text-center w-100">
            Não tem uma conta? Cadastre-se</a>
          </div>
          <form v-else key="defined">
            <h3 class="text-dark">Entrar</h3>
            <h5 class="text-muted font-weight-normal mb-3">Use uma conta existente para entrar</h5>
            <div class="form-group">
              <label for="email">Email</label>
              <input 
                type="email" 
                class="form-control" 
                id="email"
                v-model="email"
                required>
            </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input 
                type="password" 
                class="form-control" 
                id="password"
                v-model="password"
                required>
            </div>
            <div 
              class="alert alert-danger" 
              role="alert"
              v-show="error !== null">
              {{ this.error }}
            </div>
            <button 
              type="submit" 
              class="btn btn-block btn-blue mt-3"
              @click.prevent="login()">
              Vamos lá
            </button>
            <button 
              type="submit" 
              class="btn btn-block btn-outline-danger mt-3"
              @click.prevent="back()">
              Voltar
            </button>
            <a href="register.html" class="mt-3 btn-link btn-block text-muted text-center w-100">Não tem uma conta? Cadastre-se</a>
          </form>
        </div>
      </div>
    </div>

    <script 
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
      crossorigin="anonymous"></script>
    <script 
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous"></script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          email: null,
          password: null,
          donator: true,
          defined: false,
          error: null
        },
        methods: {
          login() {
            if (!this.email || !this.password)
              this.error = "Preencha os campos."
            let url = ""
            let urlPrefix = ""
            if(this.donator) {
              url = "https://konectando-api.herokuapp.com/donators/auth"
              urlPrefix = "doador/"
            }
            else
            {
              url = "https://konectando-api.herokuapp.com/schools/auth"
              urlPrefix = "escola/"
            }
            axios.post(url, { 
              email: this.email,
              password: this.password 
            }).then((response) => {
              localStorage.setItem("accessToken", response.data.token)
              window.location.href = urlPrefix + "home.html"
            }).catch((err) => this.error = "Erro ao autenticar, confira os dados e tente novamente.")
          },
          setDonator(choice, defined = true) {
            this.donator = choice
            this.defined = defined
          },
          back() {
            this.defined = false
            this.email = ""
            this.password = ""
          }
        }
      })
    </script>
  </body>
</html>