<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/svg" href="../assets/logo.svg">
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous">
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="../styles/global.css">

    <title>Konectando Cadastro de Doador</title>
  </head>
  <body>
    <div 
      id="app"
      v-cloak
      class="container min-100 d-flex flex-column justify-content-center align-items-center">
      <img src="../assets/logo.svg" class="logo-lg mb-3 mt-4">
      <div class="rounded-lg my-3 w-100 max-700">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="name">Nome</label>
              <input 
                type="text" 
                class="form-control form-control-lg" 
                id="name"
                v-model="name"
                placeholder="Nome completo" 
                required>
            </div>
            <div class="form-group">
              <label for="phone">Celular</label>
              <input 
                type="text" 
                class="form-control form-control-lg" 
                id="phone"
                v-model="phone"
                placeholder="Celular"
                required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input 
                type="email" 
                class="form-control form-control-lg" 
                id="email"
                v-model="email"
                placeholder="Email"
                required>
            </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input 
                type="password" 
                class="form-control form-control-lg" 
                id="password"
                v-model="password"
                placeholder="Senha"
                required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirmar senha</label>
              <input 
                type="password" 
                class="form-control form-control-lg" 
                id="confirmPassword"
                v-model="confirmPassword"
                placeholder="Confirmar senha"
                required>
            </div>
            <div 
              class="alert rounded-lg bg-danger text-light" 
              role="alert"
              v-show="error !== null">
              {{ this.error }}
            </div>
            <button 
              type="submit" 
              class="btn btn-lg btn-block btn-purple mt-4 mb-3"
              @click.prevent="register()">
              Vamos começar
            </button>
            <a href="escola.html" class="btn-link btn-block text-light text-center w-100">
            Ou cadastre-se como escola</a>
          </form>
        </div>
      </div>
    </div>

    <script 
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
      crossorigin="anonymous"></script>
    <script 
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous"></script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          name: null,
          email: null,
          phone: null,
          password: null,
          confirmPassword: null,
          error: null
        },
        methods: {
          register() {
            if (this.password.lentgh < 8) {
              this.error = "Senha muito curta."
              return
            }
            if(this.password !== this.confirmPassword) {
              this.error = "As senhas não coincidem."
              return
            }
            axios.post("https://konectando-api.herokuapp.com/donators/register", {
                name: this.name,
                email: this.email,
                phone: this.phone,
                password: this.password
              }).then((response) => {
                localStorage.setItem("accessToken", response.data.token)
                localStorage.setItem("accountType", "donator")
                window.location.href = "../doador/home.html"
              }).catch(() => this.error = "Erro ao cadastrar-se, confira seus dados e tente novamente.")
          }
        }
      })
    </script>
  </body>
</html>