@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  background-color: #05213C !important;
  --green: #00C2CB !important;
  --purple: #B721FF !important;
  --light: #F0F0F0 !important;
}

* {
	font-family: 'Open Sans', sans-serif;
	outline: none !important;
	text-decoration: none !important;
	color: #353535;
}

.logo-lg {
	width: 5rem;
	height: 5rem;
}

.radius {
	border-radius: 8px
}

.bg-blue-transparent {
	background: rgba(5, 104, 195, 0.5)
}

.text-green {
	color: var(--green) !important;
}

[v-cloak] {
	display: none !important;
}

.rounded-lg {
	border-radius: 8px !important;
}

.btn {
	border-radius: 10px !important
}

.min-100 {
	min-height: 100vh
}

.btn-purple {
	background-color: var(--purple);
}

label {
	color: var(--green);
}

.form-control {
	border-radius: 10px !important;
	background-color: #FAFAFA;
}

.form-control, .form-control:focus {
	border-color: #FAFAFA;
}

.form-control:focus, .btn:focus {
	box-shadow: none !important;
}

.btn-purple, .btn-purple:focus {
	color: #fff !important;
}

.btn-purple:hover {
	opacity: 0.9;
}

.max-700 {
	max-width: 600px
}

.elevate:hover {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	transform: translateY(-1px);
}